/*Especificidad: 001*/
main{
  width: 100%;
  max-width: 30em;
  text-align: center;
  padding-bottom: 3em;
  margin: auto;
  background: #b07a45;
}
/*Especificidad: 001*/
form {
    max-width: 25em;
    border-radius:1em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: auto;
    background: #333;
  }

  /*Especificidad: 001*/
  label{
    display: none;
  }

  /*Especificidad: 011*/
  input[type=text] {
    width: 75%;
    padding: 1em 1em;
    font-size: 1em;
    border: 0.4em solid silver;
    text-align: right;
    color: #333;
    background: #A8C989;
}
  /*Especificidad: 011*/
 input[type=button],input[type=submit]{
    border-radius:1em;
    color: black;
    padding: 1em 1em;
    font-size: 1em;
    min-width: 20%;
}

 /*Especificidad: 011*/
 input[value=mrc], input[value="m+"], input[value="m-"] {
  background-color: gray;

}
  /*Especificidad: 011*/
  input[value="/"], input[value="*"], input[value="-"], input[value="+"] {
    background-color: red;
}

/*Especificidad: 011*/
input[value="="],input[value="7"], input[value="8"], input[value="9"], input[value="4"],input[value="5"], input[value="6"], input[value="1"], input[value="2"],input[value="3"], input[value="."], input[value="0"], input[value="C"]{
    background-color: #cac7c7;
}
 /*Especificidad: 021*/
  input[type=button]:hover, input[type=submit]:hover{
    background-color: #333;
  }